/* YOUR CUSTOM STYLES */
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

main {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}